<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(24, 71, 158);
    color: white;
    text-align: center;
  }
  </style>
  <!-- Footer section -->
  <div class="footer">
    <p>&copy; Copyright 2021. All Rights reserved. Developed by <a href="/">Group 6</a></p>
  </div>
  